<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World!</h1>
    <span th:text="'Hello, ' + ${message}"></span>

    <div>
        <h3>Eureka1</h3>
    </div>
    <div>
        <h3>Eureka2</h3>
    </div>
    <div>
        <h3>Eureka3</h3>
    </div>

    <div>
        <h3>Service1</h3>
    </div>
    <div>
        <h3>Service2</h3>
    </div>
    <div>
        <h3>Service3</h3>
    </div>
    <div>
        <h3>Service4</h3>
    </div>
    <div>
        <h3>Service5</h3>
    </div>

</body>
</html>